<div class="ui middle aligned center aligned inverted segment">

    <div class="ui inverted horizontal small statistic">
        <i class="ui blue big eye icon"></i>
        <div class="value"></div>
        <div class="label">Views</div>
    </div>
    <div class="ui inverted horizontal small statistic">
        <i class="ui red big heart icon"></i>
        <div class="value"></div>
        <div class="label">Hearts</div>
        <i class="ui small red plus icon" style="margin-left: 5px;" onclick="incrementHearts(); showModal()"> </i>
    </div>

    <div class="ui inverted horizontal small statistic">

        <i class="ui inverted big copyright outline icon"></i>
        <div class="value"></div>
        <a class="label" href="https://www.copyrighted.com/website/UHZHneqBUPbIUKXT"
            title="Copyrighted.com Registered &amp; Protected">LUKE FOX</a>
    </div>
</div>

<div class="ui mini inverted modal">

    <div class="content" id="modalContent">
        <i class="ui small circular inverted green thumbs up icon"></i>
        THANKS!
    </div>

</div>

</div>

<script src="../../js/footer.js">



</script>

<style>
    .value {
        margin-right: -5px;
    }

    .ui.statistic {
        margin-bottom: -5px;
    }

    .ui.inverted.segment {
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .ui.circular.icon.button {
        margin-left: 10px;
    }

    #modalContent {
        display: inline !important;
        background-color: rgba(0, 0, 0, 0) !important;
        font-size: 60px !important;
        color: white;
    }

    .ui.mini.modal {
        height: 14%;
        width: 32%;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    .copyrighted-badge {
        padding: 20px;
    }

    .ui.small.red.plus.icon:hover {
        cursor: pointer;
    }

    #copyright_header:hover {
        color: rgb(96, 204, 33);
        cursor: pointer;
    }
</style>