<div class="ui inverted segment">

    <div class="ui inverted horizontal statistic">
        <i class="ui blue large heart icon"></i>
        <div class="value">
        
        </div>
        <div class="label">
            Views
        </div>
    </div>
</div>

<style>

</style>
