<div class="ui inverted segment">

    <div class="ui inverted horizontal statistic">
        <i class="ui blue large eye icon"></i>
        <div class="small value"></div>
        <div class="label">Views</div>
    </div>
</div>

<style>

</style>