<div class="ui middle aligned center aligned inverted segment">

    <div class="ui inverted horizontal small statistic">
        <i class="ui blue big eye icon"></i>
        <div class="value"></div>
        <div class="label">Views</div>
    </div>
    <div class="ui inverted horizontal small statistic">
        <i class="ui red big heart icon"></i>
        <div class="value"></div>
        <div class="label">Hearts</div>
        <i class="ui small red plus icon" style="margin-left: 5px;" onclick="incrementHearts(); showModal()"> </i>
    </div>

    <div class="ui inverted horizontal small statistic">

        <i class="ui inverted green big copyright outline icon"></i>
        <div class="value"></div>
        <a class="label" href="https://www.copyrighted.com/website/UHZHneqBUPbIUKXT"
            title="Copyrighted.com Registered &amp; Protected">LUKE FOX</a>
    </div>
</div>

<div class="ui mini inverted modal">

    <div class="content" id="modalContent">
        <i class="ui small circular inverted green thumbs up icon"></i>
        THANKS!
    </div>

</div>

</div>

<script>

    var display = 'hide';

    var json = {
        hearts: 0,
        webhits: 0
    };

    function showModal() {
        display = 'show';
        $('.ui.modal')
            .modal({
                blurring: true
            })
            .modal(display)
            ;
    }

    $(document).ready(function () {
        getJSON(true);
    });

    function getJSON(boolean) {
        if (boolean === true) {
            let get = new XMLHttpRequest();

            get.onreadystatechange = () => {
                if (get.readyState == XMLHttpRequest.DONE) {
                    json = JSON.parse(get.responseText);
                    $(".value")[0].innerHTML = json.webhits;
                    $(".value")[1].innerHTML = json.hearts;
                    var fileName = location.href.split("/").slice(-1);
                    if (fileName == ("")) {
                        console.log(fileName);
                        json.webhits++;
                    }
                    postJSON(true);
                }
            }
            get.open("GET", "https://api.jsonbin.io/b/5c5b0f8d4c4430170a9c08f5/2", true);
            get.setRequestHeader("secret-key", "$2a$10$lFB8cBUsA81aQwasd4d9ku7iMDJjDdXllAWhanIuA4Nhf3gTVDmnS");
            get.send();
        }
    };

    function incrementHearts(event) {
        $('.ui.button').blur()
        json.hearts++;
        $(".value")[1].innerHTML = json.hearts;
        postJSON(true);
    }

    function postJSON(boolean) {
        if (boolean == true) {
            let put = new XMLHttpRequest();
            put.open("PUT", "https://api.jsonbin.io/b/5c5b0f8d4c4430170a9c08f5", true);
            put.setRequestHeader("Content-type", "application/json");
            put.setRequestHeader("secret-key", "$2a$10$lFB8cBUsA81aQwasd4d9ku7iMDJjDdXllAWhanIuA4Nhf3gTVDmnS");
            put.setRequestHeader("versioning", "false") // change base values
            put.send(JSON.stringify(json));
        }
    };

</script>

<style>
    .value {
        margin-right: -5px;
    }

    .ui.statistic {
        margin-bottom: -5px;
    }

    .ui.inverted.segment {
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .ui.circular.icon.button {
        margin-left: 10px;
    }

    #modalContent {
        display: inline !important;
        background-color: rgba(0, 0, 0, 0) !important;
        font-size: 60px !important;
        color: white;
    }

    .ui.mini.modal {
        height: 14%;
        width: 32%;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    .copyrighted-badge {
        padding: 20px;
    }

    .ui.small.red.plus.icon:hover {
        cursor: pointer;
    }

    #copyright_header:hover {
        color: rgb(96, 204, 33);
        cursor: pointer;
    }
</style>