<div class="ui inverted centered grid">
  <div class="ui inverted secondary pointing menu">
    <a id="home" class="item" href="/"> Home </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="blog" class="item" href="/blog"> Blog </a>
    <a id="more" class="item" href="/more"> More </a>
  </div>
</div>



<script>
  $("html, body").animate({ scrollTop: 100 }, 500);
  $("#{{id}}").addClass("active item")
</script>

<style> 

  .ui.inverted.secondary.pointing.menu {
    margin: 20px;
    border-color: transparent;
    color: red;
}

</style>