{{> menu id="about"}}

<div class="ui raised inverted segment">
  <h1 class="ui center aligned massive icon header">
    <i class="circular inverted blue user icon"></i>
    ABOUT
  </h1>
</div>

<div class="ui raised inverted segment" id="content">
  <h2 class="ui header">
    <i class="green info icon"></i>
    <div class="content">
      FOR YOUR INFORMATION
    </div>
  </h2>

  </li>
  <ul>
    <b>*NOTE*</b> This website is still a work in progress. Keep an eye out for new things being added in the
    future!
    <br>
    <br>
    <li><b>Name:</b> Luke Fox </li>
    <li><b>From:</b> Wexford </li>
    <li><b>Age:</b> 21 </li>
    <li><b>Interests:</b> Soccer, Table Tennis, Weightlifting, Programming, Gaming, Graphic Design </li>
    <li><b>College:</b> WIT </li>
    <li><b>Course:</b> Applied Computing with Forensics Stream </li>
  </ul>
</div>



<div class="ui raised inverted segment" id="content">
  <h2 class="ui header">
    <i class="orange code icon"></i>
    <div class="content">
      LANGUAGES
    </div>
  </h2>

  <div class="ui stackable padded grid">
    <div class="center aligned six column row">

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/java.png">
        <h4>JAVA</h4>
      </div>

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/css.png">
        <h4>CSS</h4>
      </div>

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/typescript.png">
        <h4>TYPESCRIPT</h4>
      </div>

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/html.png">
        <h4>HTML</h4>
      </div>

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/python.png">
        <h4>PYTHON</h4>
      </div>

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/javascript.png">
        <h4>JAVASCRIPT</h4>
      </div>
    </div>
  </div>
</div>


<div class="ui raised inverted segment" id="content">
  <h2 class="ui header">
    <i class="purple graduation cap icon"></i>
    <div class="content">
      EXPERIENCE
    </div>
  </h2>

  <div class="ui stackable grid">
    <div class="center aligned six wide column">
      <div class="ui medium image">
        <img src="../assets/distilled circle.png">
      </div>
    </div>
    <div class="ten wide column">
      <h3 class="ui center aligned inverted header">DISTILLED SCH</h3>
      <hr>
      <ul>
        <li><b>Duration:</b> January 2019 - June 2019 (Work Placement). </li>
        <li><b>Role:</b> QA Engineer. </li>
        <li><b>Duties:</b> Performing automated and manual testing on new website features as part of a scrum team.
        </li>
        <li><b>Technologies:</b> Jenkins, WebdriverIO, Docker, Selenium, Browserstack, Allure </li>
        <li>For more information, visit the Blog section!</li>
      </ul>
    </div>


  </div>

</div>

<div id="particles-js"></div>

{{> footer}}

<script>

  $("html, body").animate({ scrollTop: 100 }, 300);

  $('.ui.tiny.circular.image')
    .transition({
      animation: 'jiggle',
      duration: 1100,
      interval: 400
    })
    ;

</script>

<style>
  body {
    background:
      linear-gradient(rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)),
      url('../assets/background.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .ui.grid {
    margin-left: 50px;
  }

  span {
    margin: auto;
  }

  .ui.raised.inverted.segment {
    border-radius: 20px;
    background-color: transparent;
    width: 75%;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
  }

  #content {
    background: rgba(0, 0, 0, 0.5);
  }

  li {
    margin-left: 40px;
    font-size: 16px;
    list-style: square;
    padding: 8px;
    list-style-position: outside;
  }

  .ui.inverted.horizontal.list {
    margin-left: 60px;
  }

  .ui.tiny.circular.image {
    transition: transform .2s;
  }

  .ui.tiny.circular.image:hover {
    transition: transform .2s;
    transform: scale(1.2);
  }

  .ui.medium.image {
    margin-top: 25px;
  }
</style>