{{!-- {{> menu id="home"}} --}}
<div class="ui center aligned middle aligned inverted segment" id="content">
  <div id="particles-js"></div>

  <div class="ui inverted segment">
    <img class="ui centered small image" src="../assets/avatar.png" data-aos="fade-down">
  </div>

  <div class="ui center aligned middle aligned raised inverted segment">
    <div class="item" data-aos="fade-right">
      <hr id="line">
      <span class="ui header" id="typed"></span>
      <hr id="line">
    </div>
  </div>



  <div class="ui raised inverted segment" id="icons-segment">


    <div class="ui stackable padded grid">
      <div class="center aligned three column row">

        <div class="column" id="slide">
          <div data-aos="fade-up" data-aos-duration="1600">
            <a href="/about">
              <h3 class="ui inverted header" id="slide">
                <i class="info icon"></i>
                <div class="content">
                  ABOUT
                </div>
              </h3>
            </a>
          </div>
        </div>

        <div class="column">
          <div data-aos="fade-up" data-aos-duration="2000">
            <a href="/blog">
              <h3 class="ui inverted header" id="slide">
                <i class="book icon"></i>
                <div class="content">
                  BLOG
                </div>
              </h3>
            </a>
          </div>
        </div>

        <div class="column">
          <div data-aos="fade-up" data-aos-duration="2600">
            <a href="/more">
              <h3 class="ui inverted header" id="slide">
                <i class="plus icon"></i>
                <div class="content">
                  MORE
                </div>
              </h3>
            </a>
          </div>
        </div>

        <br>

      </div>
    </div>
  </div>
</div>



<script>

  AOS.init();
  AOS.refresh();

  var typed = new Typed("#typed", {
    strings: ["LUKE <span style='color:rgb(53, 168, 235)'>FOX</span>"],
    stringsElement: '#typed-strings',
    typeSpeed: 120,
    backSpeed: 15,
    backDelay: 2000,
    startDelay: 1000,
    loop: false,
  });


</script>

<style>
  body {
    background:
      linear-gradient(rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)),
      url('../assets/index.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
  }

  .ui.inverted.segment {
    background-color: transparent;
  }

  #avatar {
    margin-top: 120px;
    padding: 20px;
  }

  #content {
    width: 75%;
    margin: auto;
  }

  #typed {
    font-size: 80px;
    color: white;
    margin: auto;
  }

  .typed-cursor {
    font-size: 100px;
    color: white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }

  #icons-segment {
    width: 55%;
    margin: auto;

    transform: scale(0.9);
  }

  .ui.stackable.padded.grid {}


  .column #slide {
    transition: transform .2s;
  }


  #slide:hover {
    color: rgb(0, 183, 255);
    transition: transform .2s;
    transform: scale(1.2);
  }


  #line {
    width: 60%;
  }

  #index-footer {

    border-top: 1px solid rgb(0, 183, 255);
    padding: 5px;
    height: 40px;
    width: 30%;
    color: white;
    margin-bottom: -100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

  }
</style>