{{> menu id="blog"}}

<div class="ui raised inverted segment">
  <h1 class="ui center aligned massive icon header">
    <i class="circular inverted blue edit icon"></i>
    JANUARY
  </h1>
</div>

<div class="ui left aligned raised inverted segment" id="content">

  <div class="ui grid">
    <div class="four wide column">
      <div class="ui inverted vertical fluid tabular menu">
        <a class="item">
          DAY 1 - 03/01/19
        </a>
        <a class="item">
          DAY 2 - 04/01/19
        </a>
        <a class="item">
          DAY 3 - 05/01/19
        </a>
        <a class="item">
          DAY 4 - 06/01/19
        </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui inverted segment">
        <div class="tab content" id="day1">
          <p>First day in the office! I arrived in at 9 only to find I was an hour early so I was already off to a
            great
            start. My QA manager Sean and Dara from HR met me at the door, where Sean gave me a quick tour around the
            office. Here I was introduced to some of the others working in different teams such as front-end and
            back-end
            developers. The office was relatively empty as most people where still on their Christmas holidays - so
            there
            are still plenty more people to meet!</p>

          <p>Once the formalities had been complete, I was shown to my desk. The office has supplied me with a MacBook
            Pro
            for the duration of my work placement, so I was eager to get my hands on it and start tinkering with it!
            Also
            on my desk was a sheet containing login information for my Slack account. Slack seems like a really cool
            messaging app, where you can have different channels (like groups) where you can message different work
            colleges. There is also a general chat for all employees then additional fun channels.</p>

          <p>I also set up my official work email address. I won’t lie, seeing my name with the ‘@distilled.ie’
            extension
            was an amazing feeling - making me already feel like a member of the team with a role to play.</p>

          <p>My first impression of starting here was how great the people are. What few people I met from the office
            were
            all extremely nice, down to earth people. They all get along with each other too, constantly having a laugh
            but also coming to each other’s desks to offer help where needed.</p>

          <p>Our first break was at 10.30, where we all go to the room upstairs to the lunch room. Here there is
            pool and
            table tennis as well as a kitchen. Of course I had to have a game of table tennis, where I managed to beat
            Brian, one of the 2 in QA - the other being QA manager Sean.</p>

          <p>Once break was over I went back down to continue setting up my laptop, until lunch time where myself, Sean
            and Brian went for lunch in Simon’s as a treat to a new person starting in the office which was great!
            Following this was more laptop setup, as well as sitting in on an induction with HR which ran just up to
            5.30.</p>

          <p>Overall it was a pretty great first day and the place has made a really great first impression. It makes
            the
            next 6 months seem all the more exciting!</p>

        </div>

        <div class="tab content" id="day2">
          <p>SECOND day in the office! I arrived in at 9 only to find I was an hour early so I was already off to a
            great
            start. My QA manager Sean and Dara from HR met me at the door, where Sean gave me a quick tour around the
            office. Here I was introduced to some of the others working in different teams such as front-end and
            back-end
            developers. The office was relatively empty as most people where still on their Christmas holidays - so
            there
            are still plenty more people to meet!</p>

          <p>Once the formalities had been complete, I was shown to my desk. The office has supplied me with a MacBook
            Pro
            for the duration of my work placement, so I was eager to get my hands on it and start tinkering with it!
            Also
            on my desk was a sheet containing login information for my Slack account. Slack seems like a really cool
            messaging app, where you can have different channels (like groups) where you can message different work
            colleges. There is also a general chat for all employees then additional fun channels.</p>

          <p>I also set up my official work email address. I won’t lie, seeing my name with the ‘@distilled.ie’
            extension
            was an amazing feeling - making me already feel like a member of the team with a role to play.</p>

          <p>My first impression of starting here was how great the people are. What few people I met from the office
            were
            all extremely nice, down to earth people. They all get along with each other too, constantly having a laugh
            but also coming to each other’s desks to offer help where needed.</p>

          <p>Our first break was at 10.30, where we all go to the room upstairs to the lunch room. Here there is
            pool and
            table tennis as well as a kitchen. Of course I had to have a game of table tennis, where I managed to beat
            Brian, one of the 2 in QA - the other being QA manager Sean.</p>

          <p>Once break was over I went back down to continue setting up my laptop, until lunch time where myself, Sean
            and Brian went for lunch in Simon’s as a treat to a new person starting in the office which was great!
            Following this was more laptop setup, as well as sitting in on an induction with HR which ran just up to
            5.30.</p>

          <p>Overall it was a pretty great first day and the place has made a really great first impression. It makes
            the
            next 6 months seem all the more exciting!</p>
        </div>

        <div class="tab content" id="day3">
          [Verse 1]
          Somebody once told me the world is gonna roll me
          I ain't the sharpest tool in the shed
          She was looking kind of dumb with her finger and her thumb
          In the shape of an "L" on her forehead

          [Pre-Chorus]
          Well, the years start coming and they don't stop coming
          Fed to the rules and I hit the ground running
          Didn't make sense not to live for fun
          Your brain gets smart but your head gets dumb
          So much to do, so much to see
          So what's wrong with taking the backstreets?
          You'll never know if you don't go
          You'll never shine if you don't glow

          [Chorus]
          Hey now, you're an all star
          Get your game on, go play
          Hey now, you're a rock star
          Get the show on, get paid
          And all that glitters is gold
          Only shooting stars break the mold

          [Verse 2]
          It's a cool place, and they say it gets colder
          You're bundled up now, wait 'til you get older
          But the meteor men beg to differ
          Judging by the hole in the satellite picture
          The ice we skate is getting pretty thin
          The water's getting warm so you might as well swim
          My world's on fire, how 'bout yours?
          That's the way I like it and I'll never get bored

          [Chorus]
          Hey now, you're an all star
          Get your game on, go play
          Hey now, you're a rock star
          Get the show on, get paid
          All that glitters is gold
          Only shooting stars break the mold

          [Interlude]
          (Go for the moon)
          (Go for the moon)
          (Go for the moon)
          (Go for the moon)

          [Chorus]
          Hey now, you're an all star
          Get your game on, go play
          Hey now, you're a rock star
          Get the show on, get paid
          And all that glitters is gold
          Only shooting stars

          [Verse 3]
          Somebody once asked
          Could I spare some change for gas?
          "I need to get myself away from this place"
          I said, "Yep, what a concept
          I could use a little fuel myself
          And we could all use a little change"

          [Pre-Chorus]
          Well, the years start coming and they don't stop coming
          Fed to the rules and I hit the ground running
          Didn't make sense not to live for fun
          Your brain gets smart but your head gets dumb
          So much to do, so much to see
          So what's wrong with taking the backstreets?
          You'll never know if you don't go (Go!)
          You'll never shine if you don't glow

          [Chorus]
          Hey now, you're an all star
          Get your game on, go play
          Hey now, you're a rock star
          Get the show on, get paid
          And all that glitters is gold
          Only shooting stars break the mold

          [Outro]
          And all that glitters is gold
          Only shooting stars break the mold
        </div>

      </div>
    </div>
  </div>

</div>

<div id="particles-js"></div>


{{>footer}}

<style>
  body {
    background:
      linear-gradient(rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)),
      url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .ui.raised.inverted.segment {
    background-color: transparent;
    width: 75%;
    margin: auto;
    margin-top: 60px;
  }

  .content {
    font-size: 16px;
    margin-left: 150px;
  }

  #content {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }

  .ui.inverted.vertical.fluid.tabular.menu .active.item {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    color: rgb(0, 153, 255) !important;
  }

  .tab.content {
    margin: auto;
  }
</style>

<script>

  $('.ui.accordion')
    .accordion()
    ;

  $('.item').click(function () {
    $('.active').removeClass('active');
    $(this).addClass('active');
  });

  $('.item').click(function () {
    var tabText = $(this).text();
    console.log("ITEM: " + tabText);
    if ($.trim(tabText) == 'DAY 1 - 03/01/19') {
      $('.tab.content').hide();
      $('[id="day1"]').show();
    }
    if ($.trim(tabText) == 'DAY 2 - 04/01/19') {
      $('.tab.content').hide();
      $('[id="day2"]').show();
    }
    if ($.trim(tabText) == 'DAY 3 - 05/01/19') {
      $('.tab.content').hide();
      $('[id="day3"]').show();
    }
  });

  $(document).ready(function() {
    $("#lesen").click(function() {
        $.ajax({
            url : "test.txt",
            dataType: "text",
            success : function (data) {
                $('[id="day3"]').html(data);
                console.log("DATA: " + data);
            }
        });
    });
}); 


</script>