{{> menu id="blog"}}

<div class="ui raised inverted segment">
  <h1 class="ui center aligned massive icon header">
    <i class="circular inverted blue edit icon"></i>
    JANUARY
  </h1>
</div>

<div class="ui left aligned raised inverted segment" id="content">

  <div class="ui centered stackable grid">
    <div class="four wide column">
      <div class="ui inverted vertical fluid tabular menu">
        <a class="item">
          DAY 1 - 03/01/19
        </a>
        <a class="item">
          DAY 2 - 04/01/19
        </a>
        <a class="item">
          DAY 3 - 05/01/19
        </a>
        <a class="item">
          DAY 4 - 06/01/19
        </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui inverted segment">
        <div class="tab content" id="day1">
          <p>First day in the office! I arrived in at 9 only to find I was an hour early so I was already off to a
            great
            start. My QA manager Sean and Dara from HR met me at the door, where Sean gave me a quick tour around the
            office. Here I was introduced to some of the others working in different teams such as front-end and
            back-end
            developers. The office was relatively empty as most people where still on their Christmas holidays - so
            there
            are still plenty more people to meet!</p>

          <p>Once the formalities had been complete, I was shown to my desk. The office has supplied me with a MacBook
            Pro
            for the duration of my work placement, so I was eager to get my hands on it and start tinkering with it!
            Also
            on my desk was a sheet containing login information for my Slack account. Slack seems like a really cool
            messaging app, where you can have different channels (like groups) where you can message different work
            colleges. There is also a general chat for all employees then additional fun channels.</p>

          <p>I also set up my official work email address. I won’t lie, seeing my name with the ‘@distilled.ie’
            extension
            was an amazing feeling - making me already feel like a member of the team with a role to play.</p>

          <p>My first impression of starting here was how great the people are. What few people I met from the office
            were
            all extremely nice, down to earth people. They all get along with each other too, constantly having a laugh
            but also coming to each other’s desks to offer help where needed.</p>

          <p>Our first break was at 10.30, where we all go to the room upstairs to the lunch room. Here there is
            pool and
            table tennis as well as a kitchen. Of course I had to have a game of table tennis, where I managed to beat
            Brian, one of the 2 in QA - the other being QA manager Sean.</p>

          <p>Once break was over I went back down to continue setting up my laptop, until lunch time where myself, Sean
            and Brian went for lunch in Simon’s as a treat to a new person starting in the office which was great!
            Following this was more laptop setup, as well as sitting in on an induction with HR which ran just up to
            5.30.</p>

          <p>Overall it was a pretty great first day and the place has made a really great first impression. It makes
            the
            next 6 months seem all the more exciting!</p>

        </div>

        <div class="tab content" id="day2">
          <p>Day 2 started quite normally, going to my desk and beginning my work - as if I had been working there the
            whole time! They day mostly consisted of completing my training courses on WebDriver.io. The courses are
            quite long and it does take some time to fully comprehend them, but overall I find them to be very
            beneficial. </p>

          <p>The first course on the site that I am working on now revolves around testing a dummy website using Chai
            within the Mocha test framework. This is facilitated trough Webdriver.io and Selenium. The course
            demonstrates how individual components on a web page can be tested, alongside using Node modules to enhance
            this testing and adding some complexity. </p>

          <p>There were no meetings today so I was able to get a large chunk of the course done, whilst taking down
            notes where needed. I also managed to start reading up on the SCRUM guide website issued by Sean in order
            to bring me up to speed with out the SCRUM team in the office operate. </p>

          <p>Lunch time gave me another chance to hone my table tennis skills&#8230; or so I though as I was completely
            destroyed by Sean over 6 games - winning just 1. With that, I have issued myself another objective for this
            internship!</p>

          <p>It was quite a productive day overall. When looking at it in the terms that I spent the whole day on the
            same course it doesn&rsquo;t sound like anything resembling productivity, but I feel I that with the course
            I am starting to come to grips with what my work actually entails - and how I will go about carrying out
            this work. </p>
        </div>

        <div class="tab content" id="day3">
          <p>Today I got to take part in my first stand-up meeting with my scrum team, The Metagenics. This was a great
            chance to see how the team lays out their work and how goals are set and achieved for the day/week. I was
            just a fly on the wall for the 15 minutes but I hope it won&rsquo;t be long before I can start
            contributing. </p>

          <p>My next meeting came around 12 where one of the other Philly, who has recently come from Paddy Power, gave
            a presentation on Behaviour Driven Development. BDD is the development methodology Philly used while at
            Paddy Power and was hoping to encorporate it into some of the teams here as opposed to SCRUM. Still being
            somewhat unfamiliar to SCRUM, I wasn&rsquo;t quite able to fully comprehend the differences between BDD and
            SCRUM - but what I did understand seemed quite interesting and the presentation was good fun to sit in on.</p>

          <p>As is becoming a frequent entry in this blog, there was more table tennis today. Playing in doubles
            instead today which was good craic, mainly because I get to play with a teammate who is better than me
            meaning we could win for a change. </p>

          <p>The rest of the day was spent continuing the training courses. I am nearly finished the first of which,
            with only one more step to go. I am eager to try and get these courses done (without rushing, of course) so
            I can begin to contribute to the QA team.</p>

          <p>Another good day, that&rsquo;s 3 counting!</p>
        </div>

      </div>
    </div>
  </div>

</div>

<div id="particles-js"></div>


{{>footer}}

<style>
  body {
    background:
      linear-gradient(rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)),
      url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .ui.raised.inverted.segment {
    background-color: transparent;
    width: 75%;
    margin: auto;
    margin-top: 60px;
  }

  .content {
    font-size: 16px;
    margin-left: 150px;
  }

  #content {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }

  .ui.inverted.vertical.fluid.tabular.menu .active.item {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    color: rgb(0, 153, 255) !important;
  }

  .tab.content {
    margin: auto;
  }
</style>

<script>

  $('.ui.accordion')
    .accordion()
    ;

  $('.item').click(function () {
    $('.active').removeClass('active');
    $(this).addClass('active');
  });

  $('.item').click(function () {
    var tabText = $(this).text();
    console.log("ITEM: " + tabText);
    if ($.trim(tabText) == 'DAY 1 - 03/01/19') {
      $('.tab.content').hide();
      $('[id="day1"]').show();
    }
    if ($.trim(tabText) == 'DAY 2 - 04/01/19') {
      $('.tab.content').hide();
      $('[id="day2"]').show();
    }
    if ($.trim(tabText) == 'DAY 3 - 05/01/19') {
      $('.tab.content').hide();
      $('[id="day3"]').show();
    }
  });

  $(document).ready(function () {
    $("#lesen").click(function () {
      $.ajax({
        url: "test.txt",
        dataType: "text",
        success: function (data) {
          $('[id="day3"]').html(data);
          console.log("DATA: " + data);
        }
      });
    });
  });


</script>