{{> menu id="more"}}

<div class="ui raised inverted segment">
  <h1 class="ui center aligned massive icon header">
    <i class="circular inverted blue lightbulb outline icon"></i>
    MORE
  </h1>
</div>

<div class="ui left aligned raised inverted segment" id="content">
  <h2 class="ui header">
    <i class="pink plus icon"></i>
    <div class="content">
      MORE
    </div>
  </h2>
  <p>Here you can find some additional information such as what was used in the making of the site, as well as some
    useful links! Don't forget to check out my GitHub too!</p>
</div>
<div class="ui raised inverted segment" id="content">
  <h2 class="ui header">
    <i class="yellow flask icon"></i>
    <div class="content">
      MADE WITH
    </div>
  </h2>

  <div class="ui stackable padded grid">
    <div class="center aligned four column row">

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/node.png">
        <h4>NODE</h4>
      </div>

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/handlebars.png">
        <h4>HANDLEBARS</h4>
      </div>

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/express.png">
        <h4>EXPRESS</h4>
      </div>

      <div class="column">
        <img class="ui middle aligned tiny circular image" src="../assets/semantic.png">
        <h4>SEMANTIC UI</h4>
      </div>

    </div>
  </div>
</div>

<div class="ui raised inverted segment" id="content">
  <h2 class="ui header">
    <i class="teal bullhorn icon"></i>
    <div class="content">
      CONTACT & USEFUL LINKS
    </div>
  </h2>

  <div class="ui stackable padded grid">
    <div class="center aligned three column row">

      <div class="column">
        <a href="https://github.com/Foxyf76" target="_blank">
          <img class="ui middle aligned tiny circular image" src="../assets/github.png">
          <h4>GITHUB</h4>
        </a>
      </div>

      <div class="column">
        <a href="https://www.linkedin.com/in/luke-fox-aa103a148/" target="_blank">
          <img class="ui middle aligned tiny circular image" src="../assets/linkedin.png">
          <h4>LINKEDIN</h4>
        </a>
      </div>

      <div class="column">
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=lukefoxportfolio@gmail.com" target="_blank">
          <img class="ui middle aligned tiny circular image" src="../assets/gmail.png">
          <h4>GMAIL</h4>
        </a>
      </div>

    </div>
  </div>

</div>

</div>


<div id="particles-js"></div>

{{>footer}}

<script>

  $('.ui.tiny.circular.image')
    .transition({
      animation: 'jiggle',
      duration: 1100,
      interval: 400
    })
    ;

</script>

<style>
  body {
    background:
      linear-gradient(rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)),
      url('../assets/background.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .ui.raised.inverted.segment {
    border-radius: 20px;
    background-color: transparent;
    width: 75%;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
  }

  p {
    margin-left: 50px;
  }

  #content {
    background: rgba(0, 0, 0, 0.5);
  }

  .ui.inverted.horizontal.list {
    margin-left: 60px;
  }

  .ui.tiny.circular.image {
    margin-top: 20px;
    transition: transform .2s;
  }

  .ui.tiny.circular.image:hover {
    transition: transform .2s;
    transform: scale(1.2);
  }

  a,
  a:hover {
    text-decoration: none;
    color: white;
  }
</style>